*{
    margin: 0;
    padding: 0;
    
}
/*FrontPagesection*/
section{
    padding: 100px;
}
.banner{
    position: relative;
    min-height: 100vh;
    background-image:url(/home/laura/Desktop/Website/images/frontpage.jpg );
    background-size: cover;
    background-position:right;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.banner h2{
    font-size: 3em;
    color: black;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3{
    font-size: 1.5em;
    color: black;
    font-weight: 500;
}
.btn{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: blanchedalmond;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}
/*NavigationMenu*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background:#C38E70;
}
header .logo{
    color: #F3DACE;
    font: size 24px; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #F3DACE;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.heading h2{
    font-weight: 600;
    font: size 30px; 
    color: black;
}
/*AboutmeSection*/
.aboutme{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}
.about-section{
    background: url(pic.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}
/*SeervicesSection*/
.services{
    background: #111;
}
.heading{
    color: #fff;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBx{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.services .content .servicesBx:hover{
    background: #2196f3;
}
.services .content .servicesBx img{
    max-width: 80px;
    filter: invert(1);
}
.services .content .servicesBx h2{
    font-size: 20px;
    font: weight 600 ;
}
/*Projectsection*/
.project .heading{
    color: #222;
    margin-bottom: 50px;
}
.project .content{
    display: flex;
    justify-content: space-between;
}
.project .content .workBx{
    width: 50%;
    padding: 20px;
}
.project .content .workBx img{
    max-width: 100%;
}
/*Contactsection*/
.contact{
    min-height: 100vh;
    background: url(bg.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-page{
    width: 100%;
    max-width: 1400px;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  
h2{
width: 100%;
margin-bottom: 80px;
text-transform: uppercase;
color: #322;
font-size: 60px;
}

.contact-info, .contact-form{
flex: 1;
}

.item{
margin-bottom: 24px;
font-size: 16px;
color: #322;
}

.icon{
width: 60px;
height: 60px;
line-height: 60px;
background-color: #3494db;
text-align: center;
color: #fff;
border-radius: 50%;
margin-right: 16px;
}

.contact-form{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.textb{
width: calc(50% - 10px);
height: 50px;
padding: 12px;
background-color: #222;
border: none;
color: #fff;
margin-bottom: 20px;
}

textarea{
width: 100%;
min-height: 200px;
max-height: 400px;
resize: vertical;
padding: 12px;
background-color: #222;
border: none;
color: #fff;
margin-bottom: 20px;
}

.btn{
width: 120px;
height: 40px;
margin-left: auto;
background-color: #3494db;
border: none;
color: #fff;
text-transform: uppercase;
cursor: pointer;
border: 2px solid #3494db;
transition: .3s linear;
}

.btn:hover{
background-color: transparent;
color: #3494db;
}

@media screen and (max-width: 980px){
.contact-page{
    max-width: 800px;
}
h2{
    font-size: 40px;
    margin-bottom: 40px;
}

.contact-info, .contact-form{
    flex: 100%;
    margin-bottom: 30px;
}
.textb{
    width: 100%;
}
}
/*Footersection*/
.footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: #222;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}