*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
/* ----Header ----*/
/* ----This is nav menu----*/
.navbar{
    position: fixed;
    width: 90%;
    max-width: 900px;
    
}
.nav{
    background:black;
    color: #fff;
    display: flex;
    
    
    
}
.nav .logo{
    font-size: 24px;
    padding: 20px;
    margin-left: 25px;

}
.nav .logo a{
    color: #fff;
    text-decoration: none;

}
.nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    width: 50%;
    margin-left: auto;
    
}
ul li{
    padding: 20px;
    list-style: none;
    text-align: right;
}
ul li a{
    color: #fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    
}
/* ----Header 2----*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(/home/laura/Desktop/Website/images/frontpage2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box{
    margin-top: 80px;
    text-align: center;
    color:white

}
.p{
    text-justify: auto;
    color: white;
}
/* ----About me section----*/

.aboutMe1{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.aboutMe{
    
    background-image:url("/home/laura/Desktop/Website/images/frontpage2.jpg"); 
    background-color: #cccccc; 
    height: 500px; 
    background-position: left; 
    background-repeat: no-repeat; 
    background-size: cover;     
    overflow:hidden;
    padding:100px 0;

}
.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;

}
.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.p{
    font-size: 13px;
    line-height: start;
    text-align: justify;
    margin-bottom: 40px;
}
.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}
/* ----Projects section----*/
.projects{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 300px;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between ;
}
.course-col{
    flex-basis: 31%;
    background: blanchedalmond;
    border-radius: 20px;
    margin-bottom: 5%;
    padding:20px 12px ;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;

}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

/* ----Contact info section----*/

.contactinfo{
    margin-top: auto;
    background-color: black;
}
.cinfo{
    margin-top: 40px;
    background-color: black;
    align-content:center;
    color: white ;

}
.cinfo h4{
    text-align: center;
    margin-top: 30px;
    
}
.cinfo p{
    text-align: center;
    color: white ;

}
.icons{
    text-align: center;
}
.icons1{
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;
}




